{% extends "base.html" %}
{% import "macros/title.html" as title %}

{% block head %}
{{ title::create(text="Not found") }}
{{ super() }}
{% endblock head %}

{% block content %}
<h1>Page Not Found</h1>
<p>The page you requested was not found.</p>
{% endblock content %}